:root {
  --primary-color:#ffffff;
  --secondary-color: aliceblue;
}

/** Header */
header, footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
}

nav {
  box-sizing: border-box;
  min-width: 250px;
  max-width: 1140px;
  width: 1140px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 0.2rem;
  padding: 0vh 2vh;
  background-color: var(--primary-color);
}

#logo {
  font-size: 2rem;
  font-weight: bold;
}

#logo, #foot-wrap p {
  margin: 0vh auto 0vh 0vh;
}

#logo span{
  font-size: 2rem;
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#navlink a {
  margin: .5vh;
}

#menu {
  display: none;
}

/** Sidebar */
#slidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  transition: .5s ease-in-out;
  background-color: var(--primary-color);
}

#slidebar p#logo {
  margin: 0vh 2vh;
  height: 8vh;
  text-align: center;
  border-bottom: solid black 0.2rem;
  align-content: center;
}

#close {
  position: absolute;
  top: 2.5vh;
  right: 2.5vh;
}
/** End Header*/

/** Main */
main {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.main-wrapper {
  box-sizing: border-box;
  display: flex;
  gap: 2vh;
  width: 1140px;
  max-width: 1140px;
  padding: 2vh;
}

/** Login Form */
#login-form {
  width: 100%;
  margin: 1rem 0rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-wrapper{
  width:  fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  gap: 1vh;
  filter: drop-shadow(0px 0px 2px);
  border-radius: 1rem;
  background-color: var(--secondary-color);
}

#user-wrap, #pass-wrap {
  display: flex;
  flex-direction: column;
}

#user-wrap input, #pass-wrap input, #input-wrapper button {
  padding: .5vh;
  background-color: var(--primary-color);
  border: solid 1px;
  border-radius: 5px;
}

#input-wrapper button{
  width: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}
#input-wrapper button:hover {
  background-color: rgb(130, 161, 255);
  width: 4rem;
}

/** Dashboard */
#side-dashboard {
  padding: 2vh;
  border-right: solid rgb(205, 205, 205) 1px;
}

#dashboard-post {
  width: 100%;
  border-left: solid rgb(205, 205, 205) 1px;
}

/** Cards Section */
#post-cards {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.cards, #sidebar {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 2vh;
  border-radius: 1rem;
  filter: drop-shadow(0px 0px 1px);
  background-color: var(--primary-color);
}

.cards-title {
  font-size: 2em;
  font-weight: 100;
  text-decoration: underline;
}

.cards-title:hover {
  color: royalblue;
}

.wrap-shortdesc img {
  min-width: 250px;
  width: 300px;
  height: 100%;
  transition: .3s;
  opacity: .5;
}

.wrap-shortdesc img:hover {
  transform: scale(1.01);
  opacity: 1;
}

.wrap-shortdesc {
  display: flex;
  gap: 1vh;
}  

.shortdesc {
  width: 100%;
}

#sidebar {
  width: 300px;
  box-sizing: border-box;
}

/** Post Section */
.post {
  width: 100%;
}

/** End Main */

/** Footer */
footer {
  width: 100%;
  height: 100%;
}

#foot-wrap {
  display: flex;
  align-items: center;
  width: 1100px;
  max-width: 1100px;
  padding: 2vh 2vh;
  border-top: solid black 0.2rem;
  background-color: var(--primary-color);
}

#foot-wrap p {
  margin: 0 0 0 auto;
}

#foot-link {
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  margin: 1vh 0vh;
}

/** End Footer */

@media screen and (max-width: 850px) {
  .wrap-shortdesc {
    flex-direction: column;
    align-items: center;
  }
  .cards-title {
    font-size: 1.8em;
  }
}

/*? TABLET */
@media screen and (max-width: 700px) {
  .main-wrapper {
    flex-direction: column;
  }

  /** Footer Section */
  footer {
    height: 100%;
  }
  #foot-wrap p {
    margin: 0;
  }
  #foot-wrap {
    flex-direction: column;
  }
  #foot-link {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {

  .cards-title {
    font-size: 1.4em;
  }
  
  .wrap-shortdesc {
    flex-direction: column;
  }
  
  .wrap-shortdesc img {
    width: 100%;
  }
}

/*? PHONE */
@media screen and (max-width: 425px) {
  #navlink {
    display: none;
  }

  #menu {
    display: block;
  }
  
  .cards-title {
    font-size: 1.2em;
  }
}